.footer {
    background: url(../images/footer/foot-bg.png) top left;
    padding-top: 100px;

    .container {
        max-width: 1280px;
    }

    .top {
        a {
            color: #fff;
            display: inline-block;

            @media(min-width: 1200px) {
                margin-right: 15px;
            }

            &:hover {
                color: #ffffffbd;
            }
        }

        ul {
            @media(min-width: 1200px) {
                display: flex;
            }
        }
    }

    .middle {
        height: 50px;
        margin: 10px 0;
        background: url(../images/footer/fff.png) center center;
    }
}