.taqual {
    text-align: justify;
}

.c-border {
    height: 2px;
    background: #d9d9d9;
}

.home {
    .section-1 {
        background: #ffde59;
        padding: 30px 0;

        .top-head {
            @media(max-width: 425px) {
                font-size: 20px;
            }

            @media(max-width: 375px) {
                font-size: 18px;
            }
        }

        .tex-t {
            padding-top: 10px;

            @media(max-width: 425px) {
                font-size: 14px;
            }

            @media(max-width: 375px) {
                font-size: 14px;
                padding-top: 0;
            }

        }

        .container {
            max-width: 1280px;
        }

        .join {
            background: #ff411a;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px;

            h6 {
                font-size: 18px;
                color: #fff;
            }

            .button-join {
                display: inline-block;
                white-space: nowrap;
                background: #fff;
                padding: 10px 5px;
                color: #000;
            }

            @media(max-width: 400px) {
                h6 {
                    font-size: 15px;
                }
            }
        }

        .bump {
            background: #656565;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px;

            h6 {
                padding-left: 5px;
                font-size: 16px;
                color: #fff;
            }


            .button-bump {
                display: inline-block;
                background: #fff;
                padding: 10px 5px;
                color: #000;
                white-space: nowrap;
            }
        }

        .inputs-all {
            .input-group {
                .input-group-text {
                    width: 90px;
                    background: #4ba572;
                    color: #fff;
                    padding-block: 10px;
                }

                .options {
                    padding-block: 10px;

                    &:focus {
                        box-shadow: none;
                    }
                }
            }
        }

        .ibtn {
            width: 100%;
            display: inline-block;
            padding: 15px 10px;
            text-align: center;
            border-radius: 18px;
            color: #fff;

            &.blue {
                background: #1d9bf0;
            }

            &.green {
                background: #4ba572;
            }
        }
    }

    .section2 {
        .container {
            max-width: 1280px;
        }

        .ads {
            .add-card {
                @media(min-width: 370px) {
                    display: grid;
                    grid-template-columns: 1fr 1.5fr;
                    gap: 10px;
                }

                border-top: 2px solid #d9d9d9;
                padding: 15px 10px;

                h5 {
                    @media (max-width: 400px) {
                        font-size: 18px;
                    }
                }

                .btn-share {
                    background: #1d9bf0;
                    color: #fff;
                    padding: 4px 6px;
                    border-radius: 15px;
                    font-size: 12px;
                    display: inline-block;

                    &.icon {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                &.featured1 {
                    display: block;
                    background: #ffde59;
                    padding: 20px 10px;
                    border: none;
                    box-shadow: 0px 3px 5px 0px #919191;

                    .fe-text {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        padding: 5px 10px;
                        background: #fff;
                        color: #ff3131;
                    }
                }
            }

        }

        .item-wrapper {
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(3, 1fr);

            @media(min-width: 992px) {
                grid-template-columns: repeat(4, 1fr);
            }

            @media(min-width: 1200px) {
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }
}






.help-videos,
.contact,
.faq {
    .top {
        .close-btn {
            display: inline-block;
            position: absolute;
            background: #ff3131;
            padding: 5px 10px;
            font-weight: bold;
            color: #fff;
            top: 10px;
            border: 0;
            left: 0;
        }
    }

    .linkers {
        .link-item {
            display: block;
            background: #4ba572;
            color: #fff;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;

            &:hover {
                background: #2fd678;
            }
        }
    }

    .contact-btn {
        background: #008037;
        display: inline-block;
        border-radius: 15px;
        padding: 5px 25px;
        font-size: 20px;
        color: #fff;
        border: 0;
    }

    input,
    textarea {
        width: 100%;
        margin-bottom: 7px;
        padding: 7px;
        border: none;
    }
}

.faq {
    .accordion {
        .accordion-item {
            border-radius: 0;
            border: none;
            margin-bottom: 10px;

            .accordion-header {
                .accordion-button {
                    border-radius: 0;
                    font-size: 18px;
                    transition: all 0.3s;
                    font-weight: bold;

                    &:not(.collapsed) {
                        transition: all 0.3s;
                        background: #1ba4ff8a;
                        color: #000;

                        &::after {
                            transition: all 0.3s;
                            transition: none;
                            width: auto;
                            height: auto;
                            content: '-';
                            background-image: none;
                            font-size: 18px;
                            font-weight: bold;
                            background: red;
                            color: #fff;

                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    &.collapsed {
                        &::after {
                            transition: none;
                            width: auto;
                            height: auto;
                            content: '+';
                            background-image: none;
                            white-space: nowrap;
                            font-size: 18px;
                            font-weight: bold;
                            right: 0;
                            background: #008000;
                            color: #fff;

                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    &:focus {
                        box-shadow: none;
                    }
                }
            }



        }

    }
}